<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <div class="login-container formBg">
      <h1>Create New Account</h1><br><br>
      <form class="login-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && register()" novalidate>
        <mat-form-field class="loginInput-full-width">
          <input type="text" matInput placeholder="Firstname" [(ngModel)]="firstname" name="firstname" #firstnameRef="ngModel" tooltipEvent="focus"
            required>
          <mat-error *ngIf="firstnameRef.invalid">
            Firstname is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="loginInput-full-width">
          <input type="text" matInput placeholder="Lastname" [(ngModel)]="lastname" name="lastname" #lastnameRef="ngModel" tooltipEvent="focus"
            required>
          <mat-error *ngIf="lastnameRef.invalid">
            Lastname is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="loginInput-full-width">
          <input type="text" matInput placeholder="Username" [(ngModel)]="username" name="username" #usernameRef="ngModel" tooltipEvent="focus"
            required>
          <mat-error *ngIf="usernameRef.invalid">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="loginInput-full-width">
          <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password" #passwordRef="ngModel" tooltipEvent="focus"
            required>
          <mat-error *ngIf="passwordRef.invalid">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="loginInput-full-width">
          <input type="email" matInput placeholder="Email" [(ngModel)]="email" name="email" #emailRef="ngModel" tooltipEvent="focus"
            required>
          <mat-error *ngIf="emailRef.invalid">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button class="saveBtn" [disabled]="disableSaveBtn"><i class="fa fa-sign-in" aria-hidden="true"></i> Register</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <button type="button" mat-raised-button class="cancelBtn" (click)="cancel()"><i class="fa fa-remove" aria-hidden="true"></i> Cancel</button>
      </form>
    </div>
  </div>
</div>