<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog acceptLabel="OK" rejectLabel="Cancel"></p-confirmDialog>
<h1 class="page-header">
  Add Employee</h1><br>
<div class="row">
  <div class="col-md-6">
    <mat-card>
      <div class="employee-container">
        <form class="employee-form" #f="ngForm" name="form" (ngSubmit)="f.form.valid && saveEmployee()" novalidate>
          <mat-form-field class="empInput-full-width">
            <input type="number" matInput placeholder="Id" pTooltip="Enter Id" tooltipPosition="right" [(ngModel)]="id" name="id" #idRef="ngModel"
              tooltipEvent="focus" required>
            <mat-error *ngIf="idRef.invalid">
              Id is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="empInput-full-width">
            <input type="text" matInput placeholder="Name" pTooltip="Enter Name" tooltipPosition="right" [(ngModel)]="name" name="name" #nameRef="ngModel"
              tooltipEvent="focus" required>
            <mat-error *ngIf="nameRef.invalid">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="empInput-full-width">
            <input type="number" matInput="text" placeholder="Reward Points" pTooltip="Enter Reward Points" tooltipPosition="right" [(ngModel)]="points"
              name="points" #pointsRef="ngModel" tooltipEvent="focus" required>
            <mat-error *ngIf="pointsRef.invalid">
              Reward Points is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="empInput-full-width">
            <input type="number" matInput="text" placeholder="Actual Work Hour" pTooltip="Enter Actual Work Hour" tooltipPosition="right"
              [(ngModel)]="actualWorkHour" name="actual" #actualWorkHourRef="ngModel" tooltipEvent="focus" required>
            <mat-error *ngIf="actualWorkHourRef.invalid">
              Actual Work Hour is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="empInput-full-width">
            <input type="number" matInput="text" placeholder="Total Work Hour" pTooltip="Enter Total Work Hour" tooltipPosition="right"
              [(ngModel)]="totalWorkHour" name="total" #totalWorkHourRef="ngModel" tooltipEvent="focus" required>
            <mat-error *ngIf="totalWorkHourRef.invalid">
              Total Work Hour is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button type="submit" mat-raised-button class="saveBtn"><i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp;Save</button>
          <button type="button" mat-raised-button class="cancelBtn" (click)="cancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
        </form>
      </div>
    </mat-card>
  </div>
</div>